#root {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
#box {
    font-size: 20vh;
    position: absolute;
    margin: 0 auto;
    padding: 5rem;
    left: 50%;
    top: 50%;
    transform: translate(-51%, -51%);
}
.uppdate-img {
    cursor: grab;
    float: right;
}
.tasks {
    background-color: red;
    margin: 6px;
    padding: 5px;
}
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
}
.projects {margin-top: 50px;}
.hidden {
    display: none;
}
.visible {
    display: block;
}
.priceTd {
    text-align: right;
}
.readOnlyInput {
    text-align: center;
    background-color: transparent;
    width: 2rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    border: none;
}
.totalCash {
    text-align: right;
}
.roundLinks {
    cursor: grab;
    color: aqua;
    padding: 0px 2px 0px 2px;
}
.or {
    padding: 0px 2px 0px 2px;
}
.roundLinks2 {
    cursor: grab;
    color: rgb(248, 78, 223);
    font-size: 0.9rem;
}
.normalInput,
.priceinput {
    text-align: left;
    background-color: rgb(29, 80, 132);
    width: 6rem;
    font-size: 1em;
    padding-right: 0px;
    font-family: inherit;
    border-radius: 8px;
    margin-right: 10px;
    border: 1px solid transparent;
}
.priceinput {
    width: 3.8rem;
}
.container,
.newInvoice {
    background: black;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    min-width: 320px;
    max-width: 800px;
    border: 1px solid #666;
    margin-bottom: 30px;
}
.newInvoice {
    text-align: center;
}
.proj {
    padding: 8px;
}
h2 {
    margin-top: 50px;
}
.taskinv {
    text-align: left;
    background-color: rgb(0, 0, 0);
    padding-left: 20px;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.gridContainer {
    display: grid;
    grid-template-columns: 120px auto;
}
.gridContainer > div {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    text-align: left;
    margin-top: 6px;
}

.x {
    background: black;
    cursor: grab;
    display: inline;
    padding: 1px 5px 1px 5px;
}
#menuBar {
    position: fixed;
    margin: 0 auto;
    padding: 5px;
    left: 50%;
    top: 0;
    max-width: 430px;
    width: 100%;
    transform: translate(-50%);
    background-color: black;
    text-align: right;
    filter: drop-shadow(0px 5px 5px black);
}
#menuContainer {
    position: fixed;
    min-width: 250px;
    width: 50%;
    top: 0px;
    right: 0px;
    text-align: left;
    background-color: black;
    margin: 0;
    padding: 20px;
    border-radius: 0px 0px 0px 10px;
}
.show-menu {
    display: none;
}
#hider {
    position: fixed;
    width: 100%;
    height: 110vh;
    background-color: rgb(0, 0, 0, 0.9);
    left: 0px;
    top: 0px;
    margin: 0;
}
#open-menu {
    cursor: grab;
    margin-right:12px;
    position: relative;
    top: -5px;
}
.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
