#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
#box {
    font-size: 20vh;
    position: absolute;
    margin: 0 auto;
    padding: 5rem;
    left: 50%;
    top: 50%;
    transform: translate(-51%, -51%);
}
.tasks {
    background-color: red;
    margin: 6px;
    padding: 5px;
}
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
.priceTd {
    text-align: right;
}
.readOnlyInput {
    text-align: center;
    background-color: transparent;
    width: 2rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    border: none;
}
.totalCash {
    text-align: right;
}
.normalInput {
    text-align: left;
    background-color: grey;
    width: 6rem;
    font-size: 1em;
    padding-right: 0px;
    font-family: inherit;
    border-radius: 8px;
    margin-right: 10px;
}
.container,
.newInvoice {
    background: black;
    padding: 20px 50px 20px 50px;
    margin: 5px;
    min-width: 320px;
    max-width: 800px;
    border: 1px solid #666;
    margin-bottom: 30px;
}
.newInvoice {
    text-align: center;
}
.proj {
    padding: 8px;
}
h2 {
    margin-top: 50px;
}
.taskinv {
    text-align: left;
    background-color: rgb(0, 0, 0);
    padding-left: 20px;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.gridContainer {
    display: grid;
    grid-template-columns: 170px 170px;
}
.gridContainer > div {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: left;
}

.x {
    background: black;
    cursor: grab;
    display: inline;
    padding: 1px 5px 1px 5px;
}
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
